node_modules/
dist/
*.keystore
*.jks
*.p12
*.pem
google-services.json
local.properties
android/.gradle/
android/local.properties
android/**/build/
android/**/.cxx/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
